@import "tailwindcss";

:root {
    --primary: #0F5DC6;
    --secondary: #2DA7DC;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .gradient-color {
    @apply bg-gradient-to-r from-[#2957A0] to-[#3985AA];
  }

  .primary-color {
    @apply bg-[#2A5AA1];
  }
  
  .text-primary-color {
    @apply text-[#2A5AA1];
  }
}